<mat-card>
    <mat-card-title>Alterar Posto</mat-card-title>
    <form> 
      <mat-form-field>
         <input matInput placeholder="NOME"
         [(ngModel)]="post.name" name="name">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="ENDEREÇO"
         [(ngModel)]="post.address" name="address">
      </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="CNPJ"
          [(ngModel)]="post.cnpj" name="cnpj">
       </mat-form-field>
       <!-- <mat-form-field>
          <input matInput placeholder="EMAIL"
          [(ngModel)]="post.email" name="email">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="TELEFONE"
          [(ngModel)]="post.phone_number" name="phone_number">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="CARTÃO DE CRÉDITO"
          [(ngModel)]="post.payment_card" name="payment_card">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="SENHA"
          [(ngModel)]="post.password" name="password">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="CEP"
          [(ngModel)]="post.cep" name="cep">
       </mat-form-field> -->
       <mat-form-field>
          <input matInput placeholder="BANDEIRA POSTO"
          [(ngModel)]="post.flag_of_fuel_station" name="flag_of_fuel_station">
       </mat-form-field>
       <!-- <mat-form-field>
          <input matInput placeholder="HORÁRIO FUNCIONAMENTO"
          [(ngModel)]="post.openning_hours" name="openning_hours">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="RESTAURANTE"
          [(ngModel)]="post.restaurant" name="restaurant">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="LAVA - JATO"
          [(ngModel)]="post.car_wash" name="car_wash">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="MECÂNICO"
          [(ngModel)]="post.mechanical" name="mechanical">
       </mat-form-field> -->
       
    </form>
    <button mat-raised-button (click)="updatePost()"color="primary">
       Atualizar
    </button>
 
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
 </mat-card>
 