<mat-toolbar class="header" role="heading" aria-label="navigation"> 
    <mat-toolbar-row>
        <span>
            <a routerLink="/">
                <img class='logo' src="assets/img/logo.png" alt="logo">
            </a>
        </span>
    <div class="spacer"></div>
    <nav mat-tab-nav-bar>
    <a mat-button routerLink="objectives">Nosso Objetivo</a>
    <a mat-button routerLink="attendant-area">Área do Frentista</a>
    <a mat-raise-button  class="btn" routerLink="login">Quero meu posto no Etanóis</a>
    </nav>
    </mat-toolbar-row> 
</mat-toolbar> 