
/*tamanho logo*/
.header .logo {
    max-height: 80px;
}
.spacer{
    flex: 1 1 auto;
}
.btn{
    background:  #ff9d00 ;
    width: 10%;
    border-radius: 30px;
    padding: 8px;
    border: 0px;
    outline: 0;
    color: white;
}