
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
    fixedInViewport="true" fixedTopGap="145">
        <mat-nav-list class="nav-list">
            <a class="icons">
                <img class='logo' src="assets/img/logotipo.png" (click)="navegateDashboardAttendant()" alt="logo">
            </a>
            <a class="icons">
                <img src="assets/img/avaliable-gas.png" (click)="navegateFuelCreate()">
            </a>
            <a class="icons">
                <img src="assets/img/electrical-service.png">
            </a>
            <a class="icons">
                <img src="assets/img/attendant.png">
            </a>
            <a class="icons">
                <img src="assets/img/logout.png">
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content> -->
</mat-sidenav-container>