<body>
    <div class="home-container">
        <section class="home-info-content">
            <h1 class="app-h1">
                Abastecer ta caro, né?<br>
                O Etanóis pode ajudar!
            </h1>
            <br>
            <h2 class="app-h2">
                Baixe o nosso aplicativo, habilite sua localização, defina suas preferências e o restante o Etanóis
                faz!
            </h2>
            <div class="download-buttons">
                <a href="https://www.apple.com/br/ios/app-store/">
                <button type="button"> 
                    <img src="../../../assets/icons/appstore.png">
                    <div class="button-info-text">
                        <p>Obtenha-nos na</p>
                        <p>App Store</p>
                    </div>
                </button>
                </a>
                <a href="https://play.google.com/store?hl=pt_BR">
                <button type="button">
                    <img src="../../../assets/icons/playstore.png">
                    <div class="button-info-text">
                        <p>Obtenha-nos na</p>
                        <p>Google Play</p>
                    </div>
                </button>
                </a>
            </div>
        </section>
        <section class="home-images">
            <img class="image-1" src="../../../assets/img/home1.png">
            <img class="image-2" src="../../../assets/img/home2.png">
            <img class="image-3" src="../../../assets/img/home3.png">
        </section>
    </div>
</body>