<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Login</title>
</head>
<body>

    <form class="form" action="*">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="assets/img/user.jpg" alt="">
                <h2 class="title">Etanóis</h2>
            </div>

            <div class="card-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Digite seu email" [(ngModel)]='login.email' required>
            </div>

            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha" [(ngModel)]='login.password' required>
            </div>

            <div class="card-group">
                <label><input type="checkbox">Lembrar-me</label>
            </div>

            <div class="card-group btn">
                <button type="submit"(click)="actionLogin()" >Acessar</button> 
            </div>

            <div class="card-group btn">
                <button type="submit"(click)="readUser()" >Acessar2</button> 
            </div>
        </div>   
    </form>
 
</body>
</html>
