<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">Certo, Manuel!
                <br>
                Em poucos minutos você
                <br>
                irá ter acesso a todas as
                <br>
                ferramentas do Etanóis.</h1>
            <br>
            <p class="manage-h2">Insira os dados do seu posto nos campos ao lado e o
                <br>
                restante o Etanóis fará por você.
            </p>
        </section> 
        <section class="manage-input-section">
         <form [formGroup]="formulario" (ngSubmit)="enviarDados()">
            <div class="input-item-div">
                <label for="name">Qual o nome do posto de combustível?</label>
                <input type="text" name="name" placeholder="Digite nome do posto"
                [(ngModel)]="fuelStation.name" formControlName="name"  required>
 
                <div class="input-item" *ngIf="!name.pristine && name.errors">
                 <div class="alert alert-danger" role="alert" *ngIf="name.errors.required">
                   Nome do posto é obrigatório.
                 </div> 
                 <div class="alert alert-danger" role="alert" *ngIf="name.errors.minlength">
                   Nome do posto deve ter no mínimo 3 caracters.
                 </div>
 
                 <div class="alert alert-danger" role="alert" *ngIf="name.errors.maxlength">
                   Nome do posto deve ter no máximo 50 caracters.
                 </div>
               </div>
            </div>
            <div class="input-item-div">
                <label for="cnpj">Qual razão social?</label>
                <input (keyup)="cnpjMask()" type="text" name="cnpj" placeholder="Digite o cnpj"
                [(ngModel)]="fuelStation.cnpj" formControlName="cnpj"  [mask]="maskCnpj">
           
                <div class="input-item" *ngIf="!cnpj.pristine && cnpj.errors">
                 
                   <div class="alert alert-danger" role="alert" *ngIf="cnpj.errors.required">
                     CNPJ é obrigatório.
                   </div>
 
                   <div class="alert alert-danger" role="alert" *ngIf="cnpj.errors.minlength">
                     CNPJ deve ter no mínimo 14 caracters.
                   </div>
                
                   <div class="alert alert-danger" role="alert" *ngIf="cnpj.errors.maxlength">
                     CNPJ deve ter no máximo 14 caracters.
                   </div>
               
                 </div>
             </div>
            <div class="input-item-div">
                <label for="flag_of_fuel_station">E a bandeira?</label>
                <input type="text" name="flag_of_fuel_station" placeholder="Digite a bandeira"
                [(ngModel)]="fuelStation.flag_of_fuel_station" formControlName="flag_of_fuel_station" required>
            
                <div class="input-item" *ngIf="!flag_of_fuel_station.pristine && flag_of_fuel_station.errors">
                 
                 <div class="alert alert-danger" role="alert" *ngIf="flag_of_fuel_station.errors.required">
                   Bandeira é obrigatório.
                 </div>
 
                 <div class="alert alert-danger" role="alert" *ngIf="flag_of_fuel_station.errors.minlength">
                   Bandeira deve ter no mínimo 6 caracters.
                 </div>
                
                 <div class="alert alert-danger" role="alert" *ngIf="flag_of_fuel_station.errors.maxlength">
                   Bandeira deve ter no máximo 12 caracters.
                 </div>
                
               </div>
 
             </div>
            <div class="input-item-div">
                <label for="address">Agora o endereço</label>
                <input type="text" name="address" placeholder="Digite seu endereço"
                [(ngModel)]="fuelStation.address"  formControlName="address" required>
 
                <div class="input-item" *ngIf="!address.pristine && address.errors">
 
                 <div class="alert alert-danger" role="alert" *ngIf="address.errors.required">
                   Endereço é obrigatório.
                 </div>
 
                 <div class="alert alert-danger" role="alert" *ngIf="address.errors.minlength">
                   Endereço deve ter no mínimo 10 caracters.
                 </div>
 
                 <div class="alert alert-danger" role="alert" *ngIf="address.errors.maxlength">
                   Endereço deve ter no máximo 50 caracters.
                 </div>
               </div>
            </div>
            <div class="input-item-div">
              <label for="cep">Qual é o Cep?</label>
              <input (keyup)="cepMask()"  [mask]="maskCep" type="text" name="cep" placeholder="Digite o cep"
              [(ngModel)]="fuelStation.cep" formControlName="cep">

              <div class="input-item" *ngIf="!cep.pristine && cep.errors">
                 
                <div class="alert alert-danger" role="alert" *ngIf="cep.errors.required">
                  Cep é obrigatório.
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="cep.errors.minlength">
                  Cep deve ter no mínimo 8 caracters.
                </div>
             
                <div class="alert alert-danger" role="alert" *ngIf="cep.errors.maxlength">
                  Cep deve ter no máximo 8 caracters.
                </div>
               </div> 
            </div>

            <div class="input-item-div">
              <label for="email">Qual é o E-mail</label>
              <input type="text" name="email" placeholder="Digite o e-mail"
              [(ngModel)]="fuelStation.email" formControlName="email">

              <div class="input-item" *ngIf="!email.pristine && email.errors">
                 
                <div class="alert alert-danger" role="alert" *ngIf="email.errors.required">
                  E-mail é obrigatório.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.errors.email">
                  Digite um e-mail válido.
                </div>
               </div> 
               <div class="alert alert-danger" role="alert" *ngIf="emailError">
                {{ emailError }}
              </div>
            </div>
            <div class="input-item-div">
              <label for="phone_number">Qual telefone?</label>
              <input (keyup)="phoneNumberMask()" type="text" name="phone_number" placeholder="Digite o telefone"
              [(ngModel)]="fuelStation.phone_number" formControlName="phone_number"  [mask]="maskPhone">
         
              <div class="input-item" *ngIf="!phone_number.pristine && phone_number.errors">
               
                 <div class="alert alert-danger" role="alert" *ngIf="phone_number.errors.required">
                   Telefone é obrigatório.
                 </div>

                 <div class="alert alert-danger" role="alert" *ngIf="phone_number.errors.minlength">
                   Telefone deve ter no mínimo 10 caracters.
                 </div>
              
                 <div class="alert alert-danger" role="alert" *ngIf="phone_number.errors.maxlength">
                   Telefone deve ter no máximo 11 caracters.
                 </div>
             
               </div>
           </div>
           <div class="input-item-div">
            <label for="payment_card">Qual seu cartão crédito?</label>
            <input (keyup)="PaymentCardMask()" type="text" name="payment_card" placeholder="Digite o cartão de crédito"
            [(ngModel)]="fuelStation.payment_card" formControlName="payment_card"  [mask]="maskPaymentCard">
       
            <div class="input-item" *ngIf="!payment_card.pristine && payment_card.errors">
             
               <div class="alert alert-danger" role="alert" *ngIf="payment_card.errors.required">
                 Cartão de crédito é obrigatório.
               </div>

               <div class="alert alert-danger" role="alert" *ngIf="payment_card.errors.minlength">
                 Cartão de crédito deve ter no mínimo 16 caracters.
               </div>
            
               <div class="alert alert-danger" role="alert" *ngIf="payment_card.errors.maxlength">
                 Cartão de crédito deve ter no máximo 16 caracters.
               </div>
           
             </div>
         </div>
            <div class="manage-buttons-div">
                <button type="button" class="btn1" (click)="cancel()">
                    < Voltar</button>
                        <button [disabled]="!formulario.valid" type="button" class="btn2" (click)="createFuelStation()">Cadastrar ></button>
            </div>
               <!-- <div>{{ formulario.value | json}}</div>
            <div>{{ formulario.valid | json }}</div> -->
         </form>
        </section>
    </div>
 </body>
