<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="container">
            <!-- <header>
            </header>  -->
                 <!-- <div id="div_esquerda"> -->
                    <app-nav></app-nav>
                 <!-- </div> -->
                 <div id="div_direita">
                    <p>
                        Área do Frentista | Posto Vasconcelos
                    </p>
                    <app-fuel-crud></app-fuel-crud>
                 </div>
            <!-- <footer></footer> -->
        </div>
    </body>
</html>





    
<!-- <body>
    <div> -->
        <!-- <app-nav></app-nav> -->
    <!-- </div>
    <div>
        <<h5 class="manage-h5">
            Área do Frentista | Posto Vasconcelos
        </h5>
    </div> -->
    <!-- <mat-card-actions  class="manage-buttons-div">
        <button mat-flat-button (click)="createFuel()">Novo</button>
    </mat-card-actions> -->
    <!-- <app-fuel-read></app-fuel-read> -->
<!-- </body> -->

