<!-- Page Content-->
<div class="container padding-top-3x padding-bottom-3x mb-1">
    <img class="d-block m-auto" src="./assets/img/not-found.jpg" style="width: 100%; max-width: 550px;"
        alt="404">
    <div class="padding-top-1x mt-2 text-center">
        <h3>Página não encontrada...</h3>
        <p>Parece que não conseguimos encontrar o que você está procurando.
            <a routerLink="/">Volte para página inicial</a>
            <br>
            Ou tente usar a barra de buscas no topo desta página.</p>
    </div>
</div>
