<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">Olá!
                <br>
                Coloque suas credenciais 
                <br>
                ao lado e acompanhe seu 
                <br>
                posto de combustível.</h1>
                <br>
                <p class="manage-h2">Gerencie seu posto de combustível e veja seus resultados
                <br>
                com poucos cliques!
                </p>
                <br>
                <p class="manage-p-bold">Ainda não é cadastrado?</p>
                <a class="attendant-link" href="manager-area-login" > Clique aqui!</a>
        </section> 

        <section class="manage-input-section">
            <div class="input-item-div">
                <label>Digite seu e-mail ou username</label>
                <input type="email" name="email" placeholder="Digite seu email ou username"
                [(ngModel)]='login.email' required>
            </div>
            <div class="input-item-div">
                <label>Digite sua senha de acesso</label>
                <input type="password" name="senha" placeholder="Digite sua senha"
                [(ngModel)]='login.password' required>    
            </div>
            <div class="manage-buttons-div">
                <button type="button" class="btn1" (click)="cancel()">
                    < Voltar</button>
                        <button type="button" class="btn2" (click)="actionLogin()">Seguir ></button>    
            </div>
        
        </section>   
    </div>
</body>



