
<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
                <h1 class="manage-h1">
                   Para redefinir sua senha preencha seu 
                   <br>
                   e-mail. Se sua conta for encontrada no  
                   <br>
                   banco dados, um e-mail será enviado para 
                   <br>
                    seu endereço de e-mail, com as instruções 
                   <br>
                    sobre como restabelecer seu acesso.
                </h1>
                 <div class="input-item-div">
                    <label>Digite seu e-mail:</label>
                    <input type="text" formControlName="email" class="form-control" name="email" placeholder="Digite seu e-mail"
                    [(ngModel)]='user.email' required>
                </div> 
                <div class="input-item" *ngIf="!email.pristine && email.errors">
                    <div class="alert alert-danger" role="alert" *ngIf="email.errors.required">
                        E-mail é obrigatório.
                      </div>
                      <div class="alert alert-danger" role="alert" *ngIf="email.errors.email">
                        Digite um e-mail válido.
                      </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="emailError">
                    {{ emailError }}
                  </div>
                <div class="manage-buttons-div">
                     <button type="button" class="btn2" (click)="enviarEmail()" [disabled]="!formularioDeUsuario.valid">Enviar e-mail</button>
                </div> 

                <br>
                <p class="manage-p-bold">Já é cadastrado?</p>
                <a class="attendant-link" href="attendant/area/login" > Vá para a Área do Frentista</a>
            </form>
        </section>
    </div>
</body>

