<body>
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">
                Um motor para busca de preços de 
                <br>
                combustíveis, a fim de que o consumidor 
                <br>
                final faça a melhor escolha do posto de  
                <br>
                abastecimento, a partir de sua localização
                <br>
                atual ou rota pré-definida. 
                <br>
            </h1>
                <br>
                <p class="manage-p-bold">Ainda não é cadastrado?</p>
                <a class="attendant-link" href="user/create" > Clique aqui!</a>
        </section> 

        <section class="manage-input-section">
   
        
        </section>   
    </div>
</body>



