<section class="text-section right">
    <form id="update-form" class="form-container" [formGroup]="userGroup" (ngSubmit)="confirmUpdate($event)">
      <label for="old_password" class="form-label">Qual sua senha atual?</label>
      <mat-form-field appearance="outline" class="login-form-field">
        <input id="old_password" type="password" formControlName="old_password" matInput>
      </mat-form-field>
      <label for="new_password" class="form-label">Qual sua nova senha?</label>
      <mat-form-field appearance="outline" class="login-form-field">
        <input id="new_password" type="password" formControlName="new_password" matInput>
      </mat-form-field>
      <!-- <mat-card class="error-card" *ngIf="registerError">{{getErrorMessage()}}</mat-card> -->
    </form>
    <div class="buttons-row">
      <button form="update-form" id="update-button" type="submit" mat-flat-button>
        <div>
          Atualizar
        </div>
      </button>
      <button (click)="cancel()" id="cancel-button" mat-flat-button>
        <div>
          Cancelar
        </div>
      </button>
    </div>
  </section>
  
