<main>
  <section class="text-section">
    <h1>Abastecer tá caro, né? <br>O Etanóis pode ajudar!</h1>
    <h2>Baixe o nosso aplicativo, habilite sua localização,<br> defina suas preferências e o restante o Etanóis faz!
    </h2>
    <div class="buttons-row">
      <button mat-flat-button>
        <div class="button-row">
          <img src="../../../assets/images/apple-store.png" alt="imagem da apple-store">
          <div class="btn-text">
            <span>Obtenha-nos na
              <br>
              <b>App Play</b></span>
          </div>
        </div>
      </button>
      <button mat-flat-button>
        <div class="button-row">
          <img src="../../../assets/images/play-store.png" alt="imagem da play-store">
          <div class="btn-text">
            <span>Obtenha-nos na
              <br>
              <b>Google Play</b></span>
          </div>
        </div>
      </button>
    </div>
  </section>
  <section class="images-section">
    <div class="images-container">
      <img class="img-1" src="../../../assets/images/mockup-2.png" alt="primeira imagem do aplicativo">
      <img class="img-2" src="../../../assets/images/mockup-1.png" alt="segunda imagem do aplicativo">
      <img class="img-3" src="../../../assets/images/mockup-3.png" alt="terceira imagem do aplicativo">
    </div>
  </section>
</main>
