
<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">Muito bem!
                <br>
                Acabamos de enviar um e-mail para você.
                <br>
                Aprove a sua conta para continuar.
            </h1>
            
                <div class="manage-buttons-div">
                     <button type="button" class="btn2" (click)="actionButton()">Ir para Área do Frentista</button>
                </div> 
                <br>
            <p class="manage-p-bold">Já é cadastrado?</p>
            <a class="attendant-link" href="attendant-area-login" > Vá para a Área do Frentista</a>
        </section>
    </div>
</body>
