<!-- <mat-card>
    <mat-card-title>Alterar Posto</mat-card-title>
    <form> 
      <mat-form-field>
         <input matInput placeholder="NOME"
         [(ngModel)]="fuelStation.name" name="name">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="ENDEREÇO"
         [(ngModel)]="fuelStation.address" name="address">
      </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="CNPJ"
          [(ngModel)]="fuelStation.cnpj" name="cnpj">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="EMAIL"
          [(ngModel)]="fuelStation.email" name="email">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="TELEFONE"
          [(ngModel)]="fuelStation.phone_number" name="phone_number">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="CARTÃO DE CRÉDITO"
          [(ngModel)]="fuelStation.payment_card" name="payment_card">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="SENHA"
          [(ngModel)]="fuelStation.password" name="password">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="CEP"
          [(ngModel)]="fuelStation.cep" name="cep">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="BANDEIRA POSTO"
          [(ngModel)]="fuelStation.flag_of_fuel_station" name="flag_of_fuel_station">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="HORÁRIO FUNCIONAMENTO"
          [(ngModel)]="fuelStation.openning_hours" name="openning_hours">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="RESTAURANTE"
          [(ngModel)]="fuelStation.restaurant" name="restaurant">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="LAVA - JATO"
          [(ngModel)]="fuelStation.car_wash" name="car_wash">
       </mat-form-field> -->
       <!-- <mat-form-field>
          <input matInput placeholder="MECÂNICO"
          [(ngModel)]="fuelStation.mechanical" name="mechanical">
       </mat-form-field> -->
       
    <!-- </form>
    <button mat-raised-button (click)="updateFuelStation()"color="primary">
       Atualizar
    </button>
 
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
 </mat-card> -->
 
