<mat-card>
   <mat-card-title>Excluir Posto</mat-card-title>
   <form> 
      <mat-form-field>
         <input matInput placeholder="NOME"
         [value]="post.name" name="name" disabled>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="ENDEREÇO"
         [value]="post.address" name="address" disabled>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="CNPJ"
         [value]="post.cnpj" name="cnpj" disabled>
      </mat-form-field>
      <!-- <mat-form-field>
         <input matInput placeholder="EMAIL"
         [value]="post.email" name="email" disabled>
      </mat-form-field> -->
      <!-- <mat-form-field>
         <input matInput placeholder="TELEFONE"
         [value]="post.phone_number" name="phone_number" disabled>
      </mat-form-field> -->
      <!-- <mat-form-field>
         <input matInput placeholder="CARTÃO DE CRÉDITO"
         [value]="post.payment_card" name="payment_card" disabled>
      </mat-form-field> -->
      <!-- <mat-form-field>
         <input matInput placeholder="SENHA"
         [value]="post.password" name="password" disabled> 
      </mat-form-field> -->
      <!-- <mat-form-field>
         <input matInput placeholder="CEP"
         [value]="post.cep" name="cep" disabled>
      </mat-form-field> -->
      <mat-form-field>
         <input matInput placeholder="BANDEIRA POSTO"
         [value]="post.flag_of_fuel_station" name="flag_of_fuel_station" disabled>
      </mat-form-field>
      <!-- <mat-form-field>
         <input matInput placeholder="HORÁRIO FUNCIONAMENTO"
         [value]="post.openning_hours" name="openning_hours" disabled>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="RESTAURANTE"
         [value]="post.restaurant" name="restaurant" disabled>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="LAVA - JATO"
         [value]="post.car_wash" name="car_wash" disabled>
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="MECÂNICO"
         [value]="post.mechanical" name="mechanical" disabled>
      </mat-form-field> -->
      
   </form>
   <button mat-raised-button (click)="deletePost()"color="warn">
      Excluir
   </button>

   <button mat-raised-button (click)="cancel()">
       Cancelar
   </button>
</mat-card>
