
<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">Muito bem!
                <br>
                Seu posto foi cadastrado com sucesso.
                <br>
                Utilize o código abaixo para acessálo!
            </h1>
            <div class="input-item-div">
                <input type="name" name="name" placeholder= " 123 ABC 123 " disabled>
            </div>
            <br>
            <p class="manage-h2">
                Utilize esse código para acessar seu posto tanto pelo site quanto pelo aplicativo Etanóis
            </p>
            <br>    
            <div class="manage-buttons-div">
                <button type="button" class="btn2" (click)="actionButton()">Ir para Área do Frentista</button>
            </div>
        </section>
    </div>
</body>