<body>
    <link rel="stylesheet" href="https://use.typekit.net/dzj6knh.css">
    <div class="manage-container">
        <section class="manage-info-section">
            <h1 class="manage-h1">Certo, Manuel! 
                <br>
                Agora é só cadastrar os
                <br>
                tipos de combustível
                <br>
                Que o seu posto utiliza.</h1>
            <br>
        </section> 
        <section class="manage-input-section">
         <form>
            <div class="input-item-div">
                <label for="name">Qual o nome do combustível?</label>
                <input type="text" name="name" placeholder="Digite o combustível"
                [(ngModel)]="fuel.name" formControlName="name"  required>
            </div>
            <div class="manage-buttons-div">
                <button type="button" class="btn1" (click)="cancel()">
                    < Voltar</button>
                        <button type="button" class="btn2" (click)="createFuel()">Cadastrar ></button>
            </div>
         </form>
        </section>
    </div>
 </body>

